* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9C46A; 
  background-size: cover; 
  background-position: center;
  font-family: 'Arial', sans-serif; 
  min-height: 100vh;
 
}

.movie-container {
  width: 50%;
  margin: 2.5rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #F4A261; 
  text-align: center;
}

.movie-container h2 {
  color: #264653; 
  font-family: 'Georgia', serif; 
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.movie-container input {
  padding: 0.625rem;
  border-radius: 0.375rem;
  background-color: #2A9D8F; 
  color: #fff; /* Input text color */
  border: none;
  width: 70%;
  font-family: 'Courier New', Courier, monospace; 
  margin-right: 1rem;
}

.movie-container input::placeholder {
  color: #ffffff; 
  font-family: 'Courier New', Courier, monospace;
}

button {
  padding: 0.5rem;
  background-color: #E76F51; 
  color: #fff; 
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.movie-card {
  background-color: #F1FAEE; 
  border-radius: 0.75rem;
  padding: 1rem;
  width: 12rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 0.5rem;
}

.movie-card h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #000000;
  font-family: 'Georgia', serif; 
}
